body {
	background-color: rgb(200, 243, 243);
}

header {
	color: rgb(150, 93, 158);
}

h1 {
	text-align: center;
	font-size: 3em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
	text-align: center;
	padding-top: 4em;
}

h2 {
	color: rgb(150, 93, 158);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
	color: rgb(150, 93, 158);
	font-weight: bold;
	padding: 2em 7em;
	font-family: sans-serif;
}

.start {
	text-align: center;
	padding-top: 10em;
}

#play {
	height: 5em;
	width: 10em;
	border-radius: 50%;
	color: rgb(150, 93, 158);
	font-weight: bold;
	background-color: azure;
}

.scoreboard {
	display: inline-block;
	margin: 1em;
	padding-top: 5em;
	background-color: rgb(200, 243, 243);
}

.box {
	display: inline-block;
	border: 2px black solid;
	padding: 3em;
	color: rgb(150, 93, 158);
	border-radius: 5%;
	background-color: azure
}

.hidden {
	display: none;
}

#btn-div {
	
}

.answer-btn {
	width: 10em;
	height: 5em;
	margin: 2em;
	border-radius: 5%;
	color: rgb(150, 93, 158);
	font-weight: bold;
	background-color: azure;
}

.questions {
	font-size: 1.6em;
}