body {
	background-color: black;
	background: url('./Vader.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}

h1 {
	color: rgb(245, 231, 36);
	text-align: center;
	font-size: 3em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
	text-align: center;
	padding-top: 4em;
}



h2 {
	color: rgb(245, 231, 36);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
	color: rgb(245, 231, 36);
	font-weight: bold;
	padding: 2em 2em;
	font-family: sans-serif;
}

.start {
	text-align: center;
	padding-top: 10em;
}

#play {
	height: 5em;
	width: 10em;
	border: 4px solid black;
	border-radius: 5%;
	color: black;
	font-weight: bold;
	background-color: rgb(245, 231, 36);
}

.scoreboard {
	display: inline-block;
	margin: 1em;
	background-color: black;
	
}

.box {
	display: inline-block;
	border: 2px black solid;
	padding: 1em;
	color: black;
	border-radius: 5%;
	background-color: rgb(245, 231, 36);
	font-size: 2em;
}

.hidden {
	display: none;
}

.restart {
	width: 10em;
	height: 5em;
	margin: 2em;
	border-radius: 5%;
	border: 4px solid black;
	color: black;
	font-weight: bold;
	background-color: rgb(245, 231, 36);
}

.answer-btn {
	width: 10em;
	height: 5em;
	margin: 2em;
	border-radius: 5%;
	color: black;
	font-weight: bold;
	background-color: rgb(245, 231, 36);
	border: 4px solid black;
}

.questions {
	font-size: 1.6em;
}

.next {
	width: 10em;
	height: 5em;
	margin: 2em;
	border-radius: 5%;
	color: black;
	font-weight: bold;
	border: 4px solid black;
	background-color: rgb(245, 231, 36)
	
}


@media only screen and (max-width: 800px) {
	section { 
		padding-top: 1em;
	}
	body {
		padding-bottom: 15em;
	}
	
	.button-div {
		padding: 0;
		height: 75%
	}
	p {
		padding: 0;
	}
	.message {
		font-size: 2em;
		padding: 0;
	}
	.next {
		padding: -1em;
	}
	.game-page {
		padding: 0;
		
	}
	.next-div {
		padding: 0;
	}
}